.parallax { position: fixed; left: 0; top: 0; width: 100%; height: 100%; background-color: red; }
.parallax:nth-child(even) { background-color: yellow; }

@keyframes animatedparallaxDown { from { top: 100%; } to { top: 0; } }
@keyframes animatedparallaxUp { from { top: -100%; } to { top: 0; } }
.fixedCurrent { z-index: 991 !important; }
.inFixedDown { animation-name: animatedparallaxDown; animation-duration: 1.5s; animation-timing-function: ease; animation-delay: 0s; }
.outFixedDown { z-index: 990 !important; }
.inFixedUp { animation-name: animatedparallaxUp; animation-duration: 1.5s; animation-timing-function: ease; animation-delay: 0s; }
.outFixedUp { z-index: 990 !important; }

#control-parallax { position: fixed; top: 45%; left: 1%; width: 15px; z-index: 992; }
#control-parallax a { display: block; float: left; width: 15px; height: 15px; margin: 4px 0; border: 2px solid #fff; border-radius: 50%; }
#control-parallax a.current { background-color: #99cd00; }
#control-parallax-up { cursor: pointer; display: none; position: fixed; top: 0; width: 100%; height: 50px; z-index: 992; filter: alpha(opacity=10); -moz-opacity: 0.1; -khtml-opacity: 0.1; opacity: 0.1; }
#control-parallax-down { cursor: pointer; display: none; position: fixed; bottom: 0; width: 100%; height: 50px; z-index: 992; filter: alpha(opacity=10); -moz-opacity: 0.1; -khtml-opacity: 0.1; opacity: 0.1; }

@media screen and (max-width:500px) {
	#control-parallax-up,
	#control-parallax-down { display: block; }
}
